form {
  border: 1px solid rgb(116, 124, 201);
  border-radius: 2px;
  width: 225px;
  background: #1650a7;
  padding: 6px;
  margin-left: 10px;
  margin-top: 15px;
}

table {
  border: 1px solid #000;
  margin-left: 10px;
  margin-top: 15px;
  /* width: 300px; */
}

label {
  display: block;
  margin-top: 5px;
}

input,
textarea,
select,
option {
  min-width: 220px;
}