<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas 9</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model:value="cari" placeholder="Silahkan masukan kata kunci" />
      <ul>
        <li v-for="arrayBuku in cariBuku">{{arrayBuku}}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",

        data: {
          cari: "",
          arrayBuku: ["Kalkulus dasar", "Fisika Dasar", "Aljabar Linier Elementer", "Aljabar Abstrack", "Algoritma Pemrogramman"],
        },

        computed: {
          cariBuku: function () {
            const vm = this;
            return vm.arrayBuku.filter(function (i) {
              return i.toLowerCase().indexOf(vm.cari.toLowerCase()) !== -1;
            });
          },
        },
      });
    </script>
  </body>
</html>