<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz 2</title>
  </head>
  <body>
    <div id="app">
      <form v-on:submit.prevent="tambahUser">
        <input v-model="userBaru" />
        <button>Add</button>
      </form>
      <li v-for="user in users" v-bind:name="user.name">
        {{ user.name }}
        <button name="edit" value="edit" v-on:click="editUser">edit</button> ||
        <button>delete</button>
      </li>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      const vm = new Vue({
        el: "#app",

        data: {
          userBaru: "",
          users: [
            {
              name: "Muhammad Iqbal Mubarok",
            },
            {
              name: "Ruby Purwanti",
            },
            {
              name: "Faqih Muhammad",
            },
          ],
        },

        methods: {
          tambahUser: function () {
            this.users.push({
              name: this.userBaru,
            });
            this.userBaru = "";
          },

          editUser: function (i) {
            this.userBaru = this.users.indexOf(this.i);
          },
        },
      });
    </script>
  </body>
</html>